.body  {
    
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
}

.inicio {
    background-color: lightblue;
    height: 50px;
    padding: 20px 20px 20px 20px;
    margin: 5px;

}

.navegacion  {
    background-color: lightgreen;
    height: 200px;
    padding: 10px 10px 10px 10px;
    margin: 5px;
}
