.body {

    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
}

.inicio {
    background-color: lightblue;
    height: 50px;
    padding: 20px 20px 20px 20px;
    margin: 5px;

}

.navegacion {
    background-color: lightgreen;
    height: 200px;
    padding: 10px 10px 10px 10px;
    margin: 5px;
}

.noticias {
    background-color: lightyellow;
    height: 300px;
    padding: 10px 10px;
    margin: 5px;
}

.section {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
}

.notideportes {
    margin: 5px;
}

.notientretenimiento {
    margin: 5px;
}

.barralateral {
    background-color: lightpink;
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    margin: 11px;

}

.piedepagina {
    background-color: lightseagreen;
    height: 50px;
    padding: 10px 10px;
    margin: 11px;
}